VOLUME=/var/docker-volume/free-ping
USER_HOST=ubuntu
UID_HOST=1000

DATASOURCE_URL=jdbc:mysql://database:3306/free-ping
DATASOURCE_USERNAME=?
DATASOURCE_PASSWORD=?
DATASOURCE_DIALECT=org.hibernate.dialect.MySQL5InnoDBDialect
ENCRYPTION_KEY=@see <https://www.allkeysgenerator.com/Random/Security-Encryption-Key-Generator.aspx> > 128 bits

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=fairfair.free.ping@gmail.com
SMTP_PASSWORD=jcqbndziwzmkqfvr

TWILIO_SID=?
TWILIO_AUTH_TOKEN=?
TWILIO_FROM=FREE COMMIT

JWT_SECRET=@see <https://www.allkeysgenerator.com/Random/Security-Encryption-Key-Generator.aspx> > 512 bits
JWT_LIFE_TIME=3600

DEFAULT_ADMIN_USERNAME=?
DEFAULT_ADMIN_PASSWORD=?